@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#f39c12;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(113, 113, 99, 0.916);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #f39c12;
    border-radius: 5rem;
}

body{
    background: #2F4F4F;

}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}
.phantrang {
    margin-top: 2rem;
    text-align: right;

}
.phantrang a{
    color: #fff;
    background-color: #f39c12;
    border-radius: 5px;
    font-size: 2rem;
    padding: 5px;
    padding-left: 5px;
}
.phantrang a:hover{
    color: black;
    letter-spacing: .2rem;
}


.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
   
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: #e8ddcb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
   
    height: 6rem;
    border-radius: 40%;
}
.header .namelogo {
    color: #070505;
    font-size: 1.8rem;
    height: max-content;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:black;
   
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.header .icons {
    display: flex;
    align-items: center;
}
.header .icons div{
    color:black;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
    overflow: scroll;
}
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-details h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .item-details div {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .quantity-wrapper {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .quantity-wrapper input {
    width: 40px;
    padding: 5px;
    text-align: center;
  }
  
  .quantity-wrapper button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: #f0f0f0;
    font-weight: bold;
    cursor: pointer;
  }
  
  .decrement {
    margin-right: 5px;
  }
  
  .tong {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .total-price {
    color: #f00;
  }
  .buy-now-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.delete-all-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* .header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
} */

/* .header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
} */

/* .header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
} */

/* .header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
} */

/* .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(./img/tc.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 15px;
}

.home .content{
    max-width: 60rem;
} */

#home .textBox h3{
    font-size: 4rem;
    text-transform: uppercase;
    color:#fff;
}

#home .textBox p{
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#fff;
} 
.slider-container{
    position: relative;  
    min-height: 100vh;
}
.slider-container .slideBox{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    
    transition: opacity 0.5s ease-in-out;
}
.slideBox.active{
    opacity: 1;
}
.slider-container .slideBox .textBox{
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: center;
    z-index: 2;
}

.slider-container .slideBox .imgBox img{
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.slider-container .controls{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 60px;
}
.slider-container .controls li{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fff;
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-container .controls li:nth-child(1){
    margin-bottom: .3rem;
}
.slider-container .controls i{
    font-size: 2rem;
    color: #000;
}





.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
    border-radius: 10%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border:.1rem solid #f39c12; 
    border-radius: 25px; 
    box-shadow: 5px 10px #f39c12 ;
    background-color: #000;
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}
.menu .box-container .box .size{
    color: #fff;
    font-size: 15px;
    padding:.5rem 0;
}
.menu .box-container .box:hover{
    background:#fff;
    cursor: pointer;
}
.menu .box-container .box:hover > *{
    color:var(--black);
}

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.products .box-container .box{
    text-align: center;
    border:.1rem solid #f39c12; ;
    padding: 2rem;
    box-shadow: 5px 10px #f39c12 ;
    background-color: #000;
    border-radius: 25px; 
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color:#fff;
    margin:.3rem;
}

.products .box-container .box .icons a:hover{
    background:var(--main-color);
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box .content h3{
    color:#fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price{
    color:#fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}



.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.footer{
    background:#e8ddcb;
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#070505;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#000000;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#000000;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}



/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    #home .textBox h3{
        font-size: 4.5rem;
    }

    #home .textBox p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

